<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">
<listeners>
<listener class-name="testNG.ListenersExample"></listener>
</listeners>
<test name="Test cases">
<classes>
<class name="testNG.SampleTestCase"></class>
</classes>
</test>
</suite>


<!-- 
	<groups>
	<run>
	<include name="Moto"></include>
	<include name="Vivo"></include>
	</run>
	</groups>

<class name="testNG.DependanciesManagment"></class>
<class name="testNG.DriveACar"></class>
<class name="testNG.SampleTestCase"></class>
<class name="testNG.SkipATestCase"></class> -->